body{
	width:100%;
	padding:0;
	margin:0;
	background-color: #c3c3c3;
}

img{
	padding:none;
	width:90%;
	display:inline;
}




/* iPad 
-------------------------------------------------- */
@media all and (max-width : 1024px){
	}