body{
	width:100%;
	padding:0;
	margin:0;
	background-color: #f9f9f9;
	
	
}

#imgflex{
	width:100%;
	height:auto;
	padding-top:1em;
	
	margin:auto;

}


.links{
	width:60%;
	height:60px;
	margin:auto;
	padding:1em;
}



.navcontainer a{
	font-family: 'Lato', sans-serif;
	color:black; 
}

.navcontainer a:hover { 
    color:#BCC3C7;
}

.navcontainer{
	text-align: right;
	padding:2em;
	padding-right: 40px;
	background-color: #fff;

}

a + img:hover{
	opacity:20%;
}

h1{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight:900;
	margin:0;
	letter-spacing: .03em;
	font-feature-settings: "liga" 0;
}

h2{
	font-family: 'Lato', sans-serif;
	font-size:16pt;
	font-weight: 300;
	margin:0;
	
}

h3{
	font-family: 'Lato', sans-serif;
	font-size:26pt;
	font-weight: 700;
	margin:0;
}

h4{
	font-family: 'Lato', sans-serif;
	font-size:20pt;
	font-weight: 700;
	margin:0;
	font-feature-settings: "liga" 0;
	

}

p{
	font-family: 'Lato', sans-serif;
	font-size:16pt;
	font-weight: 300;
	margin:0;
	font-feature-settings: "liga" 0;


}



#headernav{
	background: #FAFAFA;
	width:100%;
	height:auto;
	padding-bottom:5%;
}

.colorcontainer{
	background-color: #FFFFFF;
}

.colorcontainer2{
	background-color: #EAEDED;
}

#descriptioncontainer{
	width:55%;
	padding-top:3%;
	margin:auto;
	  

}

#footernav{
	width:50%;
	height: auto;
	margin:auto;
	padding-top:80px;
	padding-bottom:80px;
}

#footer{
	width:100%;
	height:200px;
	background-color: #2E353B;
	color:white;
	font-family: 'Lato', sans-serif;
	display: inline-block;
	vertical-align: middle

}

/* main button style */
.btn-pagination {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #2E353B;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    text-align:center;
    width:80px;
    display:inline-block;

}

/* main button style */
.btn-paginationbio {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff;
    border-radius: 24px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    color: #7c7c7c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    text-align:center;
    width:80px;
    display:inline-block;

}

/* hover state */
.btn-pagination:hover {
    color:#fff;
    background-color:#6b7074;
   
}


/* hover state */
.btn-paginationbio:hover {
    border:1px solid #7c7c7c;
    background-color:#e5e5e5;

}

img{
	padding:none;
	width:90%;
	display:inline;
}


.svgdiv{
	width:55%;
	margin:auto;
	padding-top:1em;
}




#Value { display: none;}


.embed-youtube {

    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* media queries 
-------------------------------------------------- */
@media only screen and (max-width: 1024px) {
    p{
    	font-size: 95%;
    }

    h3{
    	font-size:95%;
    }

    h2{
    	font-size: 1.5em;
    }

    h1{
    	font-size: 3em;
    }


@media only screen and (max-width: 500px) {
    p{
    	font-size: 80%;
    }

    h2{
    	font-size: 90%;
    }

    h3{
    	font-size:80%;
    }

    h1{
    	font-size: 2em;
    }

    h4{
    	font-size:80%;
    }

    .btn-pagination{
    	padding:6px 4px; 
    	
    	font-size: 50%
    }

     .btn-paginationbio{
    	padding:6px 4px;

    	
    	font-size: 50%
    }

    a{
    	font-size: 60%;
    }

   

}

