body{
	width:100%;
	padding:0;
	margin:0;
	background-color: #f9f9f9;
	
	
}

#imgflex{
	width:100%;
	height:auto;
	padding-top:1em;
	
	margin:auto;

}



.navcontainer a{
	font-family: 'Lato', sans-serif;
	color:black; 
}

.navcontainer a:hover { 
    color:#BCC3C7;
}

.navcontainer{
	text-align: right;
	padding:1em;
	padding-right: 40px;

}

h1{
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	font-weight:900;
	margin:0;
	letter-spacing: .03em;
	font-feature-settings: "liga" 0;
}

h2{
	font-family: 'Lato', sans-serif;
	font-size:28pt;
	font-weight: 500;
	margin:0;
	
}

p{
	font-family: 'Lato', sans-serif;
	font-size:18pt;
	font-weight: 300;
	margin:0;
	font-feature-settings: "liga" 0;

}

#headernav{
	background-color: #FAFAFA;
	width:100%;
	height:auto;
	padding-bottom:5%;
}

.colorcontainer{
	background-color: #FFFFFF;
}

#descriptioncontainer{
	width:60%;
	padding-top:5%;
	margin:auto;
	  

}

#footernav{
	width:50%;
	height: auto;
	margin:auto;
	padding-top:80px;
	padding-bottom:80px;
}

#footer{
	width:100%;
	height:200px;
	background-color: #2f4960;
	color:white;
	font-family: 'Lato', sans-serif;
	display: inline-block;
	vertical-align: middle

}

/* main button style */
.btn-pagination {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #2f4960;
    border-radius: 100px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    text-align:center;
    width:80px;
    display:inline-block;

}

/* hover state */
.btn-pagination:hover {
    background: #f8f8f8;
    color:#2f4960;
}

img{
	padding:none;
	width:90%;
	display:inline;
}




/* media queries 
-------------------------------------------------- */
@media only screen and (max-width: 1024px) {
    p{
    	font-size: 95%;
    }

    h2{
    	font-size: 1.5em;
    }

    h1{
    	font-size: 3em;
    }


@media only screen and (max-width: 500px) {
    p{
    	font-size: 80%;
    }

    h2{
    	font-size: 90%;
    }

    h1{
    	font-size: 2em;
    }

    .btn-pagination{
    	padding:6px 4px; 
    	
    	font-size: 50%
    }

    a{
    	font-size: 60%;
    }

   

}

